<robot name="shadowhand" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- adding fixed link to world for the hand not to fall -->
  <link name="world"/>
  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="forearm"/>
  </joint>

  <xacro:include filename="$(find sr_description)/materials.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/full_hand_motor.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/other/xacro/gazebo/gazebo.urdf.xacro" />

  <xacro:shadowhand_motor>
  </xacro:shadowhand_motor>
</robot>
